[submodule "os"]
	path = os
	url = https://github.com/BragdonD/operating-systems
[submodule "devops"]
	path = devops
	url = https://github.com/BragdonD/ece-devops-duclos
[submodule "db"]
	path = db
	url = https://github.com/BragdonD/advanced-database
[submodule "webtech"]
	path = webtech
	url = https://github.com/BragdonD/ece-webtech-2023-fall-gr02-11.git
